<p>
	Category: 
	<span class="product_link">
		<%= link_to @product.category.name, :controller => "categories", :action => "show", :id => @product.category_id %>
	</span>
<p>
	<span class="product_name">Product: <%= @product.name %></span>
	<span class="product_price">Price: <%= "%.2f" % @product.price %> zł.</span>
	<p>
		Description: 
		<%= @product.description %>
	</p>
</p>
<p>
	<%= link_to "Add to cart", :controller => "orders", :action => "add_product", :product_id => @product.id %>
</p>